/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(218, 218, 218);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */



html,
body {
  overflow: auto;
  height: 100%;
  background-color: #333;
}


body {
  display: grid;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.75);
}


.Logo > img {
  height: 15rem;
}

.card{
  border: 0;
}

.lista > img {
  width: 100%;
}

.col-md-3 {
  padding: 0;
}
/*
 * Header
 */
.inner {
  margin-bottom: 2rem;
}

.navbar > .inner{
  margin-left: auto;
  margin-right: auto;
}

.inner .nav-link{
  font-weight: 700;
  color: #808080;
  background-color: transparent;
  border-bottom: solid transparent;
}

.inner .nav-link:hover,
.inner .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.inner .nav-link + .nav-link {
  margin-left: 1rem;
}

.inner .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mb-4{
  padding: 0;
  margin-bottom: 0 !important;
}

.card-columns {
  column-count: 4;
}

.card-product{
  margin: 10px;
  border-radius: 5px;
  height: max-content;
  background-color: rgb(218, 218, 218);
}

.bg-black {
  background-color: #333;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

#countdown{
  font-size: 4rem;
  color: #fff;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* Countdown*/
canvas {
  width: 900px;
  height: 300px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

/*
List
*/

.lista {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.lista:hover .image {
  opacity: 0.3;
}

.lista:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  padding: 16px 32px;
}

/*
Columns
*/

.row-s {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.row-50{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column-s {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column-s img {
  margin-top: 8px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}

.column-50 {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.column-50 img {
  vertical-align: middle;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.progress {
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
}

/* Dropdown Button */
.buy {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.buy:hover, .buy:focus {
  background-color: #222;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

.button-product{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.row-form {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25-form {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50-form {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75-form {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25-form,
.col-50-form,
.col-75-form {
  padding: 0 16px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  text-align: left !important;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: 748px) {
  .nav-link {
    font-size: 1.25rem;
  }
  .column-s {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  .column-50 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .column-50 img {
    border-radius: 5px 0px 0px 5px;
  }

  .card-product h5 {
    margin-top: 5%;
    font-size: 1.25rem;
  }

  .card-product p {
    margin-top: 5%;
    font-size: 1rem;
  }

}

@media only screen and (min-width: 900px) {
  .card-product h5 {
    font-size: 1.5rem;
  }

  .card-product p {
    font-size: 1.20rem;
  }
}

@media only screen and (min-width: 1200px) {
  .card-product h5 {
    font-size: 2rem;
  }

  .card-product p {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1400px) {
  .progress {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1700px) {
  .card-product h5 {
    font-size: 2.5rem;
  }

  .card-product p {
    font-size: 1.5rem;
  }

  .progress {
    margin-top: 15%;
  }

}

@media only screen and (min-width: 2400px) {

  .card-product h5 {
    font-size: 3rem;
  }

  .card-product p {
    font-size: 2rem;
  }

  .progress {
    margin-top: 20%;
  }
}
